/vendor/
/node_modules/
core/
/sites/default/files/
/sites/default/private/
/sites/*/settings*.php
/sites/*/services.yml
/sites/*/files/
/.env
*.sqlite
*.log
*.tar.gz
*.zip
.DS_Store
Thumbs.db
.idea/
.vscode/
npm-debug.log
/web/sites/default/files/
/web/sites/default/settings.php
/vendor/
/web/core/
/web/modules/contrib/